{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block description %}Coal Stockpile Visualization and Monitoring{% endblock description %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'site/css/zonegrid.css' %}">
{% endblock extrahead %}


{% block container %}
<div class="container-fluid details-container">
  <div class="row">
    <div class="col-sm-9">
      
      <div class="row">
        <div class="time-selector"> 
            <a class="timeline-button timeline-button-active" href="#" 
            onclick="setZoneColor('new'); return false;"><span class="fa fa-calendar"></span>Now</a> 
            <a class="timeline-button" href="#"
            onclick="setZoneColor('sixmonth'); return false;"><span class="fa fa-calendar"></span>6 months</a> 
            <a class="timeline-button" href="#"
            onclick="setZoneColor('oneyear'); return false;"><span class="fa fa-calendar"></span>1 year</a> 
        </div>
        <div class="time_line"></div>
      </div> <!-- end timeline button row -->
      
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="table-container" id="top"></div>
            <div class="table-container" id="mid"></div>
            <div class="table-container" id="bot"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-3 side_bar" style="background-color:white;">
      <div class="row">
        <div class="side_bar-top-div col-sm-12" >
          <h3 class="side_bar-heading"> Zone</h3> 
          <p id="zone-id"> Zone A285 </p>
        </div>
      </div>
      <div class="row">
        <div class="side_bar-bottom-div col-sm-12" >
          <h3 class="side_bar-heading"> Age</h3> 
          <p id='zone-age'> 5</p>
          
          <h3 class="side_bar-heading"> Quality</h3> 
          <p id='zone-quality'> 80%</p>
          
          <h3 class="side_bar-heading"> Quantity</h3> 
          <p id='zone-quantity'> 300,000 Tonnes</p>
          
          <h3 class="side_bar-heading">Location</h3> 
          <p id='zone-location'>Blackwater BMA</p>
          
          <h3 class="side_bar-heading"> No of Dumps</h3> 
          <p id='zone-number-of-dumps'> 324</p>
          
          <h3 class="side_bar-heading"> No of Collections</h3> 
          <p id='zone-number-of-collections'> 53</p>
        </div>
      </div>
    </div>

  </div>
</div><!-- /.container -->

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/zonedata.js' %}"></script>
<script src="{% static 'site/js/zonelayers.js' %}"></script>
<script src="{% static 'site/js/site.js' %}"></script>
<script>
    var grid_top = makeGrid("top");
    var grid_mid = makeGrid("mid");
    var grid_bot = makeGrid("bot");
    //document.body.appendChild(grid);
    $('<p />', {id:'output'}).text("blah").appendTo(document.body);
</script>
{% endblock scripts %}

