{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block extrahead %}
<script src="{% static 'site/js/site.js' %}"></script>    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css">
{% endblock extrahead %}

{% block description %}Coal Stockpile Visualization and Monitoring{% endblock description %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}


{% block container %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      
      <div class="row">
        <div class="time-selector"> 
          <a class="timeline-button timeline-button-active" href="#"><span class="fa fa-calendar"></span>Now</a> 
          <a class="timeline-button" href="#"><span class="fa fa-calendar"></span>6 months</a> 
          <a class="timeline-button" href="#"><span class="fa fa-calendar"></span>1 year</a> 
        </div>
        <div class="time_line"></div>
      </div> <!-- end timeline button row -->
      
      <div class="row">

        <!-- Map code here -->

      </div>

    </div>
  </div>
</div><!-- /.container -->

{% endblock container %}

{% block scripts %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock scripts %}

