

<!DOCTYPE html>
<html>
 
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	  <title> Stockpilr</title>

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>  
	  
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,100italic,300italic,400" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="static/site/css/main.css">
 </head>

	<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="brandheader" alt="Brand" src="static/site/img/logo1.png">
      </a>
	  <a class="navbar-brand" href="#">Stockpilr</a>
    </div>
  </div>
</nav>
	

	
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-9" style="background-color:red;">
		<div class="row">
			<div class="time-selector"> 
				<a class="timeline-button timeline-button-active" href="#"><span class="fa fa-calendar"></span>Now</a> 
				<a class="timeline-button" href="#"><span class="fa fa-calendar"></span>6 months</a> 
				<a class="timeline-button" href="#"><span class="fa fa-calendar"></span>1 year</a> 
			</div>
			
			<div class="time_line"></div>
		</div>
		<div class="row">
			<div class="col-sm-4" style="background-color:white;"> 
			
			</div>
			<div class="col-sm-4" style="background-color:purple;">
			</div>
			<div class="col-sm-4" style="background-color:orange;">
			</div>
		
		</div>
	  </div>
	  <div class="col-sm-3 side_bar" style="background-color:white;">
			<div class="row">
				<div class="side_bar-top-div col-sm-12" >
					<h3 class="side_bar-heading"> Zone</h3> 
					<p id="zone-id"> Zone A285 </p>
				</div>
			</div>
			<div class="row">
				<div class="side_bar-bottom-div col-sm-12" >
					<h3 class="side_bar-heading"> Age</h3> 
					<p id='zone-age'> 5</p>
					
					<h3 class="side_bar-heading"> Quality</h3> 
					<p id='zone-quality'> 80%</p>
					
					<h3 class="side_bar-heading"> Quantity</h3> 
					<p id='zone-quantity'> 300,000 Tonnes</p>
					
					<h3 class="side_bar-heading">Location</h3> 
					<p id='zone-location'> -127.032, 53.43 </p>
					
					<h3 class="side_bar-heading"> Number of Dumps</h3> 
					<p id='zone-number-of-dumps'> 324</p>
					
					<h3 class="side_bar-heading"> Number of Collections</h3> 
					<p id='zone-number-of-collections'> 53</p>
				</div>
			</div>
  
  
  
	</div>


	</body>

</html>
