<!DOCTYPE html>

<head>
    <title>test</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css">
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="../../src/static/site/js/geostockpiles.js"></script>
    <script src="../../src/static/site/js/zonelayers.js"></script>
    <style>
        #map { 
            height: 360px;
        }
        .grid { margin:1em auto; border-collapse:collapse }
        .grid td {
            cursor:pointer;
            width:30px; height:30px;
            border:1px solid #ccc;
            text-align:center;
            font-family:sans-serif; font-size:13px
        }
        .grid td.clicked {
            background-color:yellow;
            font-weight:bold; color:red;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <div id="layertop" style="float: left;"></div>
    <div id="layermid" style="float: left;"></div>
    <div id="layerbot"></div>
    <div style="float: clear all;"></div>
    <script>
        addMap();
        var grid_top = makeGrid("layertop");
        var grid_mid = makeGrid("layermid");
        var grid_bot = makeGrid("layerbot");
        //document.body.appendChild(grid);
        $('<p />', {id:'output'}).text("blah").appendTo(document.body);
    </script>
    <script>
    function fcc() {
        window.myrect.setStyle({
            fillColor: '#ff0000'
        })
    }
    </script>
    <button onclick="fcc()">Change rect color</button>
    <script>
        var colors = ["red", "blue", "yellow", "black", "green"];
        function randcolor() {
            return colors[Math.floor(Math.random() * colors.length)];
        }

        $(".cell").hover(
        function () {
            console.log(this.id);
            $("#output").text(this.id);
            this.style.backgroundColor = randcolor();
        })
    </script>
    <HR />
    <p>
    <label for="amount">Donation amount ($50 increments):</label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
     
    <div id="slider"></div>
      <script>
      $(function() {
        $( "#slider" ).slider({
          value:100,
          min: 0,
          max: 500,
          step: 50,
          slide: function( event, ui ) {
            $( "#amount" ).val( "$" + ui.value );
            $("td").each(function () {
                this.style.backgroundColor = randcolor();
            });
          }
        });
        $( "#amount" ).val( "$" + $( "#slider" ).slider( "value" ) );
      });
      </script>
</body>
